{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
{% load carts_tags %}


{% block sidebar %}
    <nav class="col-md-2 sidebar" style="background-color: #f6f6f6;">
        <!--Список категорий-->
        <h4 style="font-size: 22px;">Категории</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#categoryList" aria-expanded="false" aria-controls="categoryList">
            Показать категории
        </button>
        <ul class="nav flex-column collapse d-md-block" id="categoryList">
            {% tag_categories as categories %}
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:category' category.slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
        <!--Список производителей-->
        <h4 style="font-size: 22px;">Производители</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#growerList" aria-expanded="false" aria-controls="growerList">
            Показать производителей
        </button>
        <ul class="nav flex-column collapse d-md-block" id="growerList">
            {% tag_growers as growers %}
            {% for grower in growers %}
                <li class="nav-item">
                    <a class="nav-link" href={% url "catalog:category_with_grower" category_slug='all' grower_slug=grower.slug %}>{{ grower }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
<div class=" bg-white p-1 mb-4 mx-2 rounded custom-shadow" style="max-width: 700px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="container">
        <h3 class="text-center mb-4 mt-4 fs-5 fw-bolder">Выбранные товары</h3>
        <div class="container" id="cart-items-container" style="max-width: 600px;">
            <!-- Разметка корзины -->
            {% user_carts request as carts %}

            {% include "carts/includes/included_cart.html" %}
            <!-- Закончилась разметка корзины -->
        </div>
    </div>
    <!-- Детали заказа -->
    <div class="container">
        <h3 class="text-center fs-5 fw-bolder mt-2 mb-2">Детали заказа</h3>
        <div class="card mb-3" style="background-color: #f8f9fa;">
            <div class="card-body">
                <form action="{% url "orders:create_order" %}" method="post" id="create_order_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_first_name" class="form-label">Имя*:</label>
                            <input type="text" class="form-control" id="id_first_name"
                                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                name="first_name" required>
                            {% if form.first_name.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_last_name" class="form-label">Фамилия*:</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name"
                            value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                            required>
                            {% if form.last_name.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_phone_number" class="form-label">Номер телефона*:</label>
                            <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                                value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                                placeholder="(000) 000-0000"
                                required>
                            {% if form.phone_number.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
                            {% endif %}
                            <div class="alert alert-danger alert-dismissible fade show" style="display: none" id="phone_number_error">Неверный формат номера</div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="delivery" class="form-label">Способ доставки: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="requires_delivery"
                                    id="id_requires_delivery" value="1" checked>
                                <label class="form-check-label" for="id_requires_delivery">Нужна
                                    доставка</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="requires_delivery"
                                    id="id_requires_delivery" value="0">
                                <label class="form-check-label" for="id_requires_delivery">Самовывоз</label>
                            </div>
                        </div>
                        <div class="mb-3" id="deliveryAddressField">
                            <label for="id_delivery_address" class="form-label">Адрес
                                доставки*:</label>
                            <textarea class="form-control" id="id_delivery_address"
                                value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"
                                name="delivery_address" rows="2"></textarea>
                            {% if form.delivery_address.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.delivery_address.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Способ оплаты: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment_on_get"
                                    id="id_payment_on_get" value="0" checked>
                                <label class="form-check-label" for="id_payment_on_get">Оплата
                                    картой</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment_on_get"
                                    id="id_payment_on_get" value="1">
                                <label class="form-check-label" for="id_payment_on_get">Наличными/картой
                                    при получении</label>
                                {% if form.payment_on_get.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.payment_on_get.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}