{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block sidebar %}
    <nav class="col-md-2 sidebar" style="background-color: #f6f6f6;">
        <h4 style="font-size: 22px;">Категории</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#categoryList" aria-expanded="false" aria-controls="categoryList">
            Показать категории
        </button>
        <ul class="nav flex-column collapse d-md-block" id="categoryList">
            {% tag_categories as categories %}
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:index' category.slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>

        <h4 style="font-size: 22px;">Производители</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#growerList" aria-expanded="false" aria-controls="growerList">
            Показать производителей
        </button>
        <ul class="nav flex-column collapse d-md-block" id="growerList">
            {% tag_growers as growers %}
            {% for grower in growers %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ grower }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="fs-2 fw-bolder" style="text-align: center; margin-top: 20px;">Авторизация</h3>
    <div class="d-flex justify-content-center">
        <div class="border p-3" style="background-color: #f8f9fa; width: 400px; margin: 20px 0;">
            <h3 class="fw-bold">Вход на сайт</h3>
            <form action="{% url "user:login" %}" method="POST">
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value={{request.GET.next}}>
                {% endif %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">{{form.username.label}}</label>
                    <input type="text" class="form-control" 
                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                    name="username" id="id_username" placeholder="Введите имя пользователя" required>
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Пароль:</label>
                    <input type="password" class="form-control" name="password" 
                    id="id_password" placeholder="Введите пароль" required>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button> 
            </form>
    
            <div class="mt-3">
                <p>Или войдите через:</p>
                <button type="button" class="btn btn-outline-danger me-2">Google</button>
                <button type="button" class="btn btn-outline-dark">GitHub</button>
            </div>
            
            <div class="mt-3">
                <p>Нет аккаунта? <a href="{% url "user:registration" %}">Создайте его</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}      