{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block sidebar %}
    <nav class="col-md-2 sidebar" style="background-color: #f6f6f6;">
        <h4 style="font-size: 22px;">Категории</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#categoryList" aria-expanded="false" aria-controls="categoryList">
            Показать категории
        </button>
        <ul class="nav flex-column collapse d-md-block" id="categoryList">
            {% tag_categories as categories %}
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:index' category.slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>

        <h4 style="font-size: 22px;">Производители</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#growerList" aria-expanded="false" aria-controls="growerList">
            Показать производителей
        </button>
        <ul class="nav flex-column collapse d-md-block" id="growerList">
            {% tag_growers as growers %}
            {% for grower in growers %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ grower }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="fs-2 fw-bolder" style="text-align: center; margin-top: 20px;">Регистрация</h1>
    <div class="d-flex justify-content-center">
        <div class="border p-3" style="background-color: #f8f9fa; width: 400px; margin: 20px 0;">
            <h3 class="fw-bold">Создать аккаунт</h3>
            <form action="{% url "user:registration" %}" method="POST">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="id_first_name" class="form-label">Имя*</label>
                    <input type="text" class="form-control" id="id_first_name"
                        value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                        name="first_name"
                        placeholder="Введите ваше имя" required>
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                        {% endif %}
                </div>
                <div class="mb-2">
                    <label for="id_last_name" class="form-label">Фамилия*</label>
                    <input type="text" class="form-control" id="id_last_name"
                        value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                        name="last_name"
                        placeholder="Введите вашу фамилию" required>
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                        {% endif %}
                </div>
                <div class="mb-2">
                    <label for="id_username" class="form-label">Имя пользователя*</label>
                    <input type="text" class="form-control" id="id_username"
                        value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                        name="username"
                        placeholder="Введите ваше имя пользователя" required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                        {% endif %}
                </div>
                <div class="mb-2">
                    <label for="id_email" class="form-label">Email*</label>
                    <input type="email" class="form-control" id="id_email"
                        value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                        name="email"
                        placeholder="Введите ваш email" required>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                        {% endif %}
                </div>
                <div class="mb-2">
                    <label for="id_password1" class="form-label">Пароль*</label>
                    <input type="password" class="form-control" id="id_password1"
                        value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                        name="password1"
                        placeholder="Введите пароль" required>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.password1.errors}}</div>
                        {% endif %}
                </div>
                <div class="mb-2">
                    <label for="id_password2" class="form-label">Подтверждение пароля*</label>
                    <input type="password" class="form-control" id="id_password2"
                        value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                        name="password2"
                        placeholder="Подтвердите пароль" required>
                        {% if form.password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.password2.errors}}</div>
                        {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>

            <div class="mt-2">
                <p>Или зарегистрируйтесь через:</p>
                <button type="button" class="btn btn-outline-danger me-2">Google</button>
                <button type="button" class="btn btn-outline-dark">GitHub</button>
            </div>
            
            <div class="mt-2">
                <p>Уже есть аккаунт? <a href="{% url 'user:login' %}">Войдите</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}