{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block sidebar %}
    <nav class="col-md-2 sidebar" style="background-color: #f6f6f6;">
        <h4 style="font-size: 22px;">Категории</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#categoryList" aria-expanded="false" aria-controls="categoryList">
            Показать категории
        </button>
        <ul class="nav flex-column collapse d-md-block" id="categoryList">
            {% tag_categories as categories %}
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:index' category.slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>

        <h4 style="font-size: 22px;">Производители</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#growerList" aria-expanded="false" aria-controls="growerList">
            Показать производителей
        </button>
        <ul class="nav flex-column collapse d-md-block" id="growerList">
            {% tag_growers as growers %}
            {% for grower in growers %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ grower }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="fs-2 fw-bolder" style="text-align: center; margin-top: 20px;">Регистрация</h1>
    <div class="d-flex justify-content-center">
        <div class="border p-3" style="background-color: #f8f9fa; width: 400px; margin: 20px 0;">
            <h3 class="fw-bold">Создать аккаунт</h3>
            <form>
                <div class="mb-2">
                    <label for="username" class="form-label">Имя пользователя:</label>
                    <input type="text" class="form-control" id="username" placeholder="Введите имя пользователя" required>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Пароль:</label>
                    <input type="password" class="form-control" id="password" placeholder="Введите пароль" required>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Подтвердить пароль:</label>
                    <input type="password" class="form-control" id="password" placeholder="Подтвердите пароль" required>
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Введите ваш email" required>
                </div>
                <div class="mb-2">
                    <label for="first_name" class="form-label">Имя:</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Введите ваше имя" required>
                </div>
                <div class="mb-2">
                    <label for="last_name" class="form-label">Фамилия:</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Введите вашу фамилию" required>
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>

            <div class="mt-2">
                <p>Или зарегистрируйтесь через:</p>
                <button type="button" class="btn btn-outline-danger me-2">Google</button>
                <button type="button" class="btn btn-outline-dark">GitHub</button>
            </div>
            
            <div class="mt-2">
                <p>Уже есть аккаунт? <a href="{% url 'user:login' %}">Войдите</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}