{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
{% load carts_tags %}

{% block sidebar %}
    <nav class="col-md-2 sidebar" style="background-color: #f6f6f6;">
        <!--Список категорий-->
        <h4 style="font-size: 22px;">Категории</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#categoryList" aria-expanded="false" aria-controls="categoryList">
            Показать категории
        </button>
        <ul class="nav flex-column collapse d-md-block" id="categoryList">
            {% tag_categories as categories %}
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:category' category.slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
        <!--Список производителей-->
        <h4 style="font-size: 22px;">Производители</h4>
        <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#growerList" aria-expanded="false" aria-controls="growerList">
            Показать производителей
        </button>
        <ul class="nav flex-column collapse d-md-block" id="growerList">
            {% tag_growers as growers %}
            {% for grower in growers %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:category_with_grower' category_slug='all' grower_slug=grower.slug %}">{{ grower }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {% user_carts request as carts %}
    <div class="row">
        <div class="d-flex justify-content-center align-items-center">
            <div class="container mt-2 bg-white p-4 mx-2 rounded custom-shadow" style="border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 550px; margin: 0 auto;">
                <div class="row justify-content-center">
                    <h3 class="text-center mb-4 fs-5 fw-bolder">Корзина</h3>
                    <div class="container" id="cart-items-container">
                        <!-- Разметка корзины -->
                        {% include "carts/includes/included_cart.html" %}
                        <!-- Закончилась разметка корзины -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="fs-3 fw-bolder mt-3 text-center">Попробуйте также</h2>
    {# Слайдер с товарами #}
    <div class="swiper-outer-container mt-3 mb-3">
        <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            {% for product in products %}
            <div class="swiper-slide">
                <div class="card" style="height: 370px;"> <!-- Задаем фиксированную высоту карточки -->
                    <a href="{% url "catalog:product" product.slug %}">
                        {% if product.image %}
                            <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}" style="height: 200px; object-fit: cover;">
                        {% else %}
                            <img src="{% static "deps/images/not_found.jpg" %}" class="card-img-top" alt="page not found" style="height: 200px; object-fit: cover;">
                        {% endif %}
                        {% if product.discount > 0 %}
                            <div class="discount-badge position-absolute" style="top: 10px; right: 10px; background-color: black; color: white; padding: 5px; border-radius: 5px;">
                                -{{ product.discount }}% <!-- Предполагается, что 'discount' — это атрибут вашего продукта -->
                            </div>
                        {% endif %}
                    </a>
                    <div class="card-body d-flex flex-column align-items-center">
                        <!-- НАЗВАНИЕ ТОВАРА -->
                        <h5 class="card-title">
                            <a href="{% url "catalog:product" product.slug %}">
                                {{ product.name}} ({{ product.grower }})
                            </a>
                        </h5>
                        <!-- СТОИМОСТЬ ТОВАРА -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column">
                                {% if product.discount %}
                                    <p class="card-text mb-0" style="text-decoration: line-through; color: #8b8b8b;">{{ product.price }}₽</p>
                                    <p class="card-text" style="margin-top: -5px;"><strong>{{ product.sell_price }}₽</strong></p>
                                {% else %}
                                    <p class="card-text"><strong>{{ product.price }}₽</strong></p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- ПРОИЗВОДИТЕЛЬ -->
                        <div class="d-flex align-content-center" style="margin-top: 5px;">
                            <span style="display: inline-block; margin-right: 5px;">
                                <img src="{% static 'deps/icons/R.svg' %}" alt="иконка" style="width: 16px; height: 16px;">
                            </span>
                            <h3 class="mb-0">
                                <a href="{% url "catalog:category_with_grower" 'all' product.grower.slug %}" style="text-decoration: none; color: inherit;">{{ product.grower }}</a>
                            </h3>
                        </div>
                        <!-- УРОВЕНЬ ТГК -->
                        <div class="d-flex align-content-center">
                            <span style="display: inline-block; margin-right: 5px;">
                                <img src="{% static 'deps/icons/thc.svg' %}" alt="иконка" style="width: 20px; height: 20px;">
                            </span>
                            <h3 class="mb-0">ТГК {{ product.thc }}%</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Кнопки навигации -->
        <div class="swiper-button-next-custom"></div>
        <div class="swiper-button-prev-custom"></div>
    </div>
    </div>
{% endblock %}
