{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Подключаем стили bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Подключаем иконки -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Подключаем свои стили -->
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
</head>
<body class="d-flex flex-column">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="{% url "main:index" %}" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="{% static "deps/icons/logo.png" %}" alt="Bootstrap" width="50" height="50">
            </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url "main:index" %}" class="nav-link px-2 link-secondary">Главная</a></li>
            <li><a href="{% url "catalog:index" 'all' %}" class="nav-link px-2">Каталог</a></li>
            <li><a href="{% url "user:users_cart" %}" class="nav-link px-2">Корзина</a></li>
            <li><a href="{% url "main:about_us" %}" class="nav-link px-2">О нас</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            {% if not user.is_authenticated %}
                <a href="{% url "user:login" %}" class="btn btn-outline-primary me-2">Login</a>
                <a href="{% url "user:registration" %}" class="btn btn-primary">Sign-up</a>
            {% else %}
                <div class="d-inline">
                    <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        Мой профиль
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'user:users_cart' %}">Корзина</a></li>
                        <li><a class="dropdown-item" href="{% url 'user:profile' %}">Личный кабинет</a></li>
                        {% if user.is_admin or user.is_staff %}
                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Админ панель</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выйти</a></li>
                    </ul>
                </div>
            {% endif %}
          </div>
        </header>
    </div>
    <div class="container mt-2 content">
        <div class="row">
            <!-- Сайдбар -->
            {% block sidebar %}
                <nav class="col-md-2 sidebar" style="background-color: #f6f6f6;">
                    <!-- Разметка корзины -->
                       {% include "includes/cart_button.html" %}
                    <!-- Конец разметки -->

                    <!--Список категорий-->
                    <h4 style="font-size: 22px;">Категории</h4>
                    <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#categoryList" aria-expanded="false" aria-controls="categoryList">
                        Показать категории
                    </button>
                    <ul class="nav flex-column collapse d-md-block" id="categoryList">
                        {% tag_categories as categories %}
                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'catalog:index' category.slug %}">{{ category }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!--Список производителей-->
                    <h4 style="font-size: 22px;">Производители</h4>
                    <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#growerList" aria-expanded="false" aria-controls="growerList">
                        Показать производителей
                    </button>
                    <ul class="nav flex-column collapse d-md-block" id="growerList">
                        {% tag_growers as growers %}
                        {% for grower in growers %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{ grower }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endblock %}
            
            <!-- Основное содержимое -->
            <main class="col-md-9">
                {% include "includes/notifications.html" %}
                {% block content %}
                    <!-- Тут будет размещен основной контент страницы(карточки товаров, расширеное описание категорий) -->
                {% endblock %}
            </main>
        </div>
    </div>
    
    <footer class="bg-dark text-white text-center py-3">
        <p>Обратная связь с разработчиком:</p>
        <div class="d-flex justify-content-center">
            <a href="https://github.com/Animeshnik94" target="_blank" class="text-white me-3 text-decoration-none">
                <div class="feedback-icon">
                    <img src="{% static 'deps/icons/github.svg' %}" alt="GitHub" width="30" height="30">
                </div>
                <p class="mb-0">GitHub</p>
            </a>
            
            <a href="https://t.me/Artur32342" target="_blank" class="text-white ms-3 text-decoration-none">
                <div class="feedback-icon">
                    <img src="{% static 'deps/icons/telegram.svg' %}" alt="Telegram" width="30" height="30">
                </div>
                <p class="mb-0">Telegram</p>
            </a>
        </div>
        
        <p class="mb-0">&copy; 2024 Artur</p>
    </footer>
    <!-- Подключаем Jquery из google онлайн -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Подключаем свои скрипты JS -->
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <!-- Подключаем скрипты bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>