{% extends "base.html" %}
{% load static %}


{% block sidebar %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="image-container">
        <a href="#" id="onSaleLink" class="image-link" data-on-sale="on">
            <img src="{% static 'deps/images/new_year.jpg' %}" alt="Описание картинки" class="image">
            <div class="overlay">
                <span class="text">Успейте купить семена по скидке!</span>
            </div>
        </a>
    </div>
{% endblock %}